.product{
     display: flex;
     padding:15px;
     margin:15px;
     border-bottom: 1px solid lightgrey;
}
.product-name{
     color:blue;
     font-weight: 400;
}
.main-button{
     background-color: goldenrod;
     width: 180px;
     height:30px;
     border:1px solid black;
     border-radius: 5px;
     font-size: 18px;
     cursor: pointer;
}