.header img {
  height: 80px;
}
.header {
  text-align: center;
}
nav {
  background-color: #000;
  line-height: 40px;
  font-size: 20px;
}
nav a {
  margin-right: 10px;
  padding: 5px;
  color: white;
  text-decoration: none;
  text-align: left;
}
